<%- include("partials/header") -%>

<main>
    <div class="container">

        <h2>Update the Product</h2>

        <form action="/edit/<%=product.id %>?_method=put" method="post">
            <br>
            <input type="text" value="<%= product.code %>" name="code" class="form-control">
            <input type="text" value="<%= product.description %>" name="description" class="form-control">
            <input type="number" value="<%= product.prix %>" name="prix" class="form-control">
            <button type="submit" class="btn btn-info btn-block mt-3">Update Product</button>
        </form>
    </div>
</main>

</body>

</html>